h2{
    text-align: left;
}

body {
    font-family: Arial, sans-serif;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
}

th, td {
    border: 1px solid #03A9F4;
    text-align: center;
    padding: 8px;
}

th {
    background-color: #03A9F4;
    text-align: center;
}

form {
    margin-top: 20px;
}

form input[type="text"],
form input[type="date"] {
    margin-bottom: 10px;
    padding-left: 2px;
}

form button {
    margin-right: 10px;
    border-radius: 5px;
    background-color: #03A9F4;
    cursor: pointer;
}

#addButton {
    border: none;
    margin-bottom: 15px;
    border-radius: 5px;
    background-color: #03A9F4;
    cursor: pointer;

}